body, a, ul, i, li, button, input, select, textarea, p, strong, h1, h2, h3, h4, h5, h6, figure, img, blockquote, iframe {
  all: unset;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  -webkit-text-fill-color: currentColor !important;
}

figure, p, h1, h2, h3, h4, h5, h6, li, blockquote, iframe {
  display: block;
}

a, button {
  cursor: pointer;
  color: inherit;
}

img, svg {
  width: 100%;
  height: auto;
  display: block;
}

svg {
  height: 100%;
}
svg * {
  transform-origin: center;
  transform-box: fill-box;
}

:root {
  --html-font-size: 16px;
  --body-background-color: white;
  --body-font-family: inherit;
  --body-font-size: 14px;
  --body-color: black;
  --body-font-weight: 400;
  --body-line-height: 1.4;
  --columns-amount: 12;
}

html {
  font-size: var(--html-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

body {
  display: block;
  overflow-x: hidden;
  background-color: var(--body-background-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: var(--body-color);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
}

.columns {
  display: grid;
  grid-template-columns: repeat(var(--columns-amount), 1fr);
  gap: 1rem;
}
.columns > * {
  grid-column: span var(--columns-amount);
}

.is-1 {
  grid-column: span 1;
}

.is-2 {
  grid-column: span 2;
}

.is-2-3 {
  grid-column: 2/4;
}

.is-2-4 {
  grid-column: 2/5;
}

.is-2-5 {
  grid-column: 2/6;
}

.is-2-6 {
  grid-column: 2/7;
}

.is-2-7 {
  grid-column: 2/8;
}

.is-2-8 {
  grid-column: 2/9;
}

.is-2-9 {
  grid-column: 2/10;
}

.is-2-10 {
  grid-column: 2/11;
}

.is-2-11 {
  grid-column: 2/12;
}

.is-2-12 {
  grid-column: 2/13;
}

.is-3 {
  grid-column: span 3;
}

.is-3-3 {
  grid-column: 3/4;
}

.is-3-4 {
  grid-column: 3/5;
}

.is-3-5 {
  grid-column: 3/6;
}

.is-3-6 {
  grid-column: 3/7;
}

.is-3-7 {
  grid-column: 3/8;
}

.is-3-8 {
  grid-column: 3/9;
}

.is-3-9 {
  grid-column: 3/10;
}

.is-3-10 {
  grid-column: 3/11;
}

.is-3-11 {
  grid-column: 3/12;
}

.is-3-12 {
  grid-column: 3/13;
}

.is-4 {
  grid-column: span 4;
}

.is-4-4 {
  grid-column: 4/5;
}

.is-4-5 {
  grid-column: 4/6;
}

.is-4-6 {
  grid-column: 4/7;
}

.is-4-7 {
  grid-column: 4/8;
}

.is-4-8 {
  grid-column: 4/9;
}

.is-4-9 {
  grid-column: 4/10;
}

.is-4-10 {
  grid-column: 4/11;
}

.is-4-11 {
  grid-column: 4/12;
}

.is-4-12 {
  grid-column: 4/13;
}

.is-5 {
  grid-column: span 5;
}

.is-5-5 {
  grid-column: 5/6;
}

.is-5-6 {
  grid-column: 5/7;
}

.is-5-7 {
  grid-column: 5/8;
}

.is-5-8 {
  grid-column: 5/9;
}

.is-5-9 {
  grid-column: 5/10;
}

.is-5-10 {
  grid-column: 5/11;
}

.is-5-11 {
  grid-column: 5/12;
}

.is-5-12 {
  grid-column: 5/13;
}

.is-6 {
  grid-column: span 6;
}

.is-6-6 {
  grid-column: 6/7;
}

.is-6-7 {
  grid-column: 6/8;
}

.is-6-8 {
  grid-column: 6/9;
}

.is-6-9 {
  grid-column: 6/10;
}

.is-6-10 {
  grid-column: 6/11;
}

.is-6-11 {
  grid-column: 6/12;
}

.is-6-12 {
  grid-column: 6/13;
}

.is-7 {
  grid-column: span 7;
}

.is-7-7 {
  grid-column: 7/8;
}

.is-7-8 {
  grid-column: 7/9;
}

.is-7-9 {
  grid-column: 7/10;
}

.is-7-10 {
  grid-column: 7/11;
}

.is-7-11 {
  grid-column: 7/12;
}

.is-7-12 {
  grid-column: 7/13;
}

.is-8 {
  grid-column: span 8;
}

.is-8-8 {
  grid-column: 8/9;
}

.is-8-9 {
  grid-column: 8/10;
}

.is-8-10 {
  grid-column: 8/11;
}

.is-8-11 {
  grid-column: 8/12;
}

.is-8-12 {
  grid-column: 8/13;
}

.is-9 {
  grid-column: span 9;
}

.is-9-9 {
  grid-column: 9/10;
}

.is-9-10 {
  grid-column: 9/11;
}

.is-9-11 {
  grid-column: 9/12;
}

.is-9-12 {
  grid-column: 9/13;
}

.is-10 {
  grid-column: span 10;
}

.is-10-10 {
  grid-column: 10/11;
}

.is-10-11 {
  grid-column: 10/12;
}

.is-10-12 {
  grid-column: 10/13;
}

.is-11 {
  grid-column: span 11;
}

.is-11-11 {
  grid-column: 11/12;
}

.is-11-12 {
  grid-column: 11/13;
}

.is-12 {
  grid-column: span 12;
}

.is-12-12 {
  grid-column: 12/13;
}

@media (min-width: 768px) {
  .is-1-tablet {
    grid-column: span 1;
  }

  .is-2-tablet {
    grid-column: span 2;
  }

  .is-2-3-tablet {
    grid-column: 2/4;
  }

  .is-2-4-tablet {
    grid-column: 2/5;
  }

  .is-2-5-tablet {
    grid-column: 2/6;
  }

  .is-2-6-tablet {
    grid-column: 2/7;
  }

  .is-2-7-tablet {
    grid-column: 2/8;
  }

  .is-2-8-tablet {
    grid-column: 2/9;
  }

  .is-2-9-tablet {
    grid-column: 2/10;
  }

  .is-2-10-tablet {
    grid-column: 2/11;
  }

  .is-2-11-tablet {
    grid-column: 2/12;
  }

  .is-2-12-tablet {
    grid-column: 2/13;
  }

  .is-3-tablet {
    grid-column: span 3;
  }

  .is-3-3-tablet {
    grid-column: 3/4;
  }

  .is-3-4-tablet {
    grid-column: 3/5;
  }

  .is-3-5-tablet {
    grid-column: 3/6;
  }

  .is-3-6-tablet {
    grid-column: 3/7;
  }

  .is-3-7-tablet {
    grid-column: 3/8;
  }

  .is-3-8-tablet {
    grid-column: 3/9;
  }

  .is-3-9-tablet {
    grid-column: 3/10;
  }

  .is-3-10-tablet {
    grid-column: 3/11;
  }

  .is-3-11-tablet {
    grid-column: 3/12;
  }

  .is-3-12-tablet {
    grid-column: 3/13;
  }

  .is-4-tablet {
    grid-column: span 4;
  }

  .is-4-4-tablet {
    grid-column: 4/5;
  }

  .is-4-5-tablet {
    grid-column: 4/6;
  }

  .is-4-6-tablet {
    grid-column: 4/7;
  }

  .is-4-7-tablet {
    grid-column: 4/8;
  }

  .is-4-8-tablet {
    grid-column: 4/9;
  }

  .is-4-9-tablet {
    grid-column: 4/10;
  }

  .is-4-10-tablet {
    grid-column: 4/11;
  }

  .is-4-11-tablet {
    grid-column: 4/12;
  }

  .is-4-12-tablet {
    grid-column: 4/13;
  }

  .is-5-tablet {
    grid-column: span 5;
  }

  .is-5-5-tablet {
    grid-column: 5/6;
  }

  .is-5-6-tablet {
    grid-column: 5/7;
  }

  .is-5-7-tablet {
    grid-column: 5/8;
  }

  .is-5-8-tablet {
    grid-column: 5/9;
  }

  .is-5-9-tablet {
    grid-column: 5/10;
  }

  .is-5-10-tablet {
    grid-column: 5/11;
  }

  .is-5-11-tablet {
    grid-column: 5/12;
  }

  .is-5-12-tablet {
    grid-column: 5/13;
  }

  .is-6-tablet {
    grid-column: span 6;
  }

  .is-6-6-tablet {
    grid-column: 6/7;
  }

  .is-6-7-tablet {
    grid-column: 6/8;
  }

  .is-6-8-tablet {
    grid-column: 6/9;
  }

  .is-6-9-tablet {
    grid-column: 6/10;
  }

  .is-6-10-tablet {
    grid-column: 6/11;
  }

  .is-6-11-tablet {
    grid-column: 6/12;
  }

  .is-6-12-tablet {
    grid-column: 6/13;
  }

  .is-7-tablet {
    grid-column: span 7;
  }

  .is-7-7-tablet {
    grid-column: 7/8;
  }

  .is-7-8-tablet {
    grid-column: 7/9;
  }

  .is-7-9-tablet {
    grid-column: 7/10;
  }

  .is-7-10-tablet {
    grid-column: 7/11;
  }

  .is-7-11-tablet {
    grid-column: 7/12;
  }

  .is-7-12-tablet {
    grid-column: 7/13;
  }

  .is-8-tablet {
    grid-column: span 8;
  }

  .is-8-8-tablet {
    grid-column: 8/9;
  }

  .is-8-9-tablet {
    grid-column: 8/10;
  }

  .is-8-10-tablet {
    grid-column: 8/11;
  }

  .is-8-11-tablet {
    grid-column: 8/12;
  }

  .is-8-12-tablet {
    grid-column: 8/13;
  }

  .is-9-tablet {
    grid-column: span 9;
  }

  .is-9-9-tablet {
    grid-column: 9/10;
  }

  .is-9-10-tablet {
    grid-column: 9/11;
  }

  .is-9-11-tablet {
    grid-column: 9/12;
  }

  .is-9-12-tablet {
    grid-column: 9/13;
  }

  .is-10-tablet {
    grid-column: span 10;
  }

  .is-10-10-tablet {
    grid-column: 10/11;
  }

  .is-10-11-tablet {
    grid-column: 10/12;
  }

  .is-10-12-tablet {
    grid-column: 10/13;
  }

  .is-11-tablet {
    grid-column: span 11;
  }

  .is-11-11-tablet {
    grid-column: 11/12;
  }

  .is-11-12-tablet {
    grid-column: 11/13;
  }

  .is-12-tablet {
    grid-column: span 12;
  }

  .is-12-12-tablet {
    grid-column: 12/13;
  }
}
@media (min-width: 1200px) {
  .is-1-desktop {
    grid-column: span 1;
  }

  .is-2-desktop {
    grid-column: span 2;
  }

  .is-2-3-desktop {
    grid-column: 2/4;
  }

  .is-2-4-desktop {
    grid-column: 2/5;
  }

  .is-2-5-desktop {
    grid-column: 2/6;
  }

  .is-2-6-desktop {
    grid-column: 2/7;
  }

  .is-2-7-desktop {
    grid-column: 2/8;
  }

  .is-2-8-desktop {
    grid-column: 2/9;
  }

  .is-2-9-desktop {
    grid-column: 2/10;
  }

  .is-2-10-desktop {
    grid-column: 2/11;
  }

  .is-2-11-desktop {
    grid-column: 2/12;
  }

  .is-2-12-desktop {
    grid-column: 2/13;
  }

  .is-3-desktop {
    grid-column: span 3;
  }

  .is-3-3-desktop {
    grid-column: 3/4;
  }

  .is-3-4-desktop {
    grid-column: 3/5;
  }

  .is-3-5-desktop {
    grid-column: 3/6;
  }

  .is-3-6-desktop {
    grid-column: 3/7;
  }

  .is-3-7-desktop {
    grid-column: 3/8;
  }

  .is-3-8-desktop {
    grid-column: 3/9;
  }

  .is-3-9-desktop {
    grid-column: 3/10;
  }

  .is-3-10-desktop {
    grid-column: 3/11;
  }

  .is-3-11-desktop {
    grid-column: 3/12;
  }

  .is-3-12-desktop {
    grid-column: 3/13;
  }

  .is-4-desktop {
    grid-column: span 4;
  }

  .is-4-4-desktop {
    grid-column: 4/5;
  }

  .is-4-5-desktop {
    grid-column: 4/6;
  }

  .is-4-6-desktop {
    grid-column: 4/7;
  }

  .is-4-7-desktop {
    grid-column: 4/8;
  }

  .is-4-8-desktop {
    grid-column: 4/9;
  }

  .is-4-9-desktop {
    grid-column: 4/10;
  }

  .is-4-10-desktop {
    grid-column: 4/11;
  }

  .is-4-11-desktop {
    grid-column: 4/12;
  }

  .is-4-12-desktop {
    grid-column: 4/13;
  }

  .is-5-desktop {
    grid-column: span 5;
  }

  .is-5-5-desktop {
    grid-column: 5/6;
  }

  .is-5-6-desktop {
    grid-column: 5/7;
  }

  .is-5-7-desktop {
    grid-column: 5/8;
  }

  .is-5-8-desktop {
    grid-column: 5/9;
  }

  .is-5-9-desktop {
    grid-column: 5/10;
  }

  .is-5-10-desktop {
    grid-column: 5/11;
  }

  .is-5-11-desktop {
    grid-column: 5/12;
  }

  .is-5-12-desktop {
    grid-column: 5/13;
  }

  .is-6-desktop {
    grid-column: span 6;
  }

  .is-6-6-desktop {
    grid-column: 6/7;
  }

  .is-6-7-desktop {
    grid-column: 6/8;
  }

  .is-6-8-desktop {
    grid-column: 6/9;
  }

  .is-6-9-desktop {
    grid-column: 6/10;
  }

  .is-6-10-desktop {
    grid-column: 6/11;
  }

  .is-6-11-desktop {
    grid-column: 6/12;
  }

  .is-6-12-desktop {
    grid-column: 6/13;
  }

  .is-7-desktop {
    grid-column: span 7;
  }

  .is-7-7-desktop {
    grid-column: 7/8;
  }

  .is-7-8-desktop {
    grid-column: 7/9;
  }

  .is-7-9-desktop {
    grid-column: 7/10;
  }

  .is-7-10-desktop {
    grid-column: 7/11;
  }

  .is-7-11-desktop {
    grid-column: 7/12;
  }

  .is-7-12-desktop {
    grid-column: 7/13;
  }

  .is-8-desktop {
    grid-column: span 8;
  }

  .is-8-8-desktop {
    grid-column: 8/9;
  }

  .is-8-9-desktop {
    grid-column: 8/10;
  }

  .is-8-10-desktop {
    grid-column: 8/11;
  }

  .is-8-11-desktop {
    grid-column: 8/12;
  }

  .is-8-12-desktop {
    grid-column: 8/13;
  }

  .is-9-desktop {
    grid-column: span 9;
  }

  .is-9-9-desktop {
    grid-column: 9/10;
  }

  .is-9-10-desktop {
    grid-column: 9/11;
  }

  .is-9-11-desktop {
    grid-column: 9/12;
  }

  .is-9-12-desktop {
    grid-column: 9/13;
  }

  .is-10-desktop {
    grid-column: span 10;
  }

  .is-10-10-desktop {
    grid-column: 10/11;
  }

  .is-10-11-desktop {
    grid-column: 10/12;
  }

  .is-10-12-desktop {
    grid-column: 10/13;
  }

  .is-11-desktop {
    grid-column: span 11;
  }

  .is-11-11-desktop {
    grid-column: 11/12;
  }

  .is-11-12-desktop {
    grid-column: 11/13;
  }

  .is-12-desktop {
    grid-column: span 12;
  }

  .is-12-12-desktop {
    grid-column: 12/13;
  }
}

/*# sourceMappingURL=style.css.map */
