@use "variables";

//
// Breakpoints
//
@mixin tablet {
  @media (min-width: #{variables.$tablet}) {
    @content
  }
}

@mixin desktop {
  @media (min-width: #{variables.$desktop}) {
    @content
  }
}

@mixin widescreen {
  @media (min-width: #{variables.$widescreen}) {
    @content
  }
}

@mixin fullhd {
  @media (min-width: #{variables.$fullhd}) {
    @content
  }
}

@mixin mobile {
  @media (max-width: #{variables.$tablet - 1}) {
    @content
  }
}

@mixin touch {
  @media (max-width: #{variables.$desktop - 1}) {
    @content
  }
}

@mixin until-widescreen {
  @media (max-width: #{variables.$widescreen - 1}) {
    @content
  }
}

@mixin until-fullhd {
  @media (max-width: #{variables.$fullhd - 1}) {
    @content
  }
}

@mixin from($breakpoint) {
  @media (min-width: #{$breakpoint}) {
    @content
  }
}

@mixin until($breakpoint) {
  @media (max-width: #{$breakpoint}) {
    @content
  }
}

//
// Layouts
//

@mixin build-columns($name: "") {
  @for $i from 1 through 12 {
    .is-#{$i}#{$name} {
      grid-column: span #{$i};
    }

    @for $n from 3 through 12 {
      @if $i > 1 {
        @if $n >= $i {
          .is-#{$i}-#{$n}#{$name} {
            grid-column: #{$i} / #{$n + 1};
          }
        }
      }
    }
  }
}

//
// Transitions
//
@mixin transition($property: all) {
  transition: $property variables.$speed variables.$easing;
}

@mixin transition-slow($property: all) {
  transition: $property variables.$speed-slow variables.$easing;
}

//
// Visual
//
@mixin visually-hidden() {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin visually-shown() {
  position: inherit !important;
  overflow: auto;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}
