//
// Transitions
//
$speed: .3s !default;
$speed-slow: .6s !default;
$easing: cubic-bezier(.19,1,.22,1) !default;

//
// Layouts
//
$tablet: 768px !default;
$desktop: 1200px !default;
$widescreen: 1400px !default;
$fullhd: 1680px !default;
$container-max-width-mobile: calc(100% - 50px) !default;
$container-max-width-tablet: 720px !default;
$container-max-width-desktop: 1140px !default;
$container-max-width-widescreen: 1180px !default;
$container-max-width-fullhd: 1440px !default;
$z-index: (header: 80, modal: 100) !default;
$columns-breakpoints: (tablet: $tablet, desktop: $desktop) !default;
$use-columns: true !default;

//
// Typography
//
// only woff2 format is supported since it is the most optimized one,
// example $fonts: ('font-family-name': (key: (file: path/fonts/file-name-without-ext, weight: weight, style: style)))
//
$fonts: () !default;
