@use '../utils/variables';
@use '../utils/mixins';

@if variables.$use-columns {
  .columns {
    display: grid;
    grid-template-columns: repeat(var(--columns-amount), 1fr);
    gap: 1rem;

    // default mobile column width is full width
    > * {
      grid-column: span var(--columns-amount);
    }
  }

  @include mixins.build-columns();

  @each $name, $breakpoint in variables.$columns-breakpoints {
    @media (min-width: #{$breakpoint}) {
      @include mixins.build-columns(#{-$name});
    }
  }
}
