html {
  font-size: var(--html-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%
}

body {
  display: block;
  overflow-x: hidden;
  background-color: var(--body-background-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: var(--body-color);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
}
