@use "../utils/variables";
@use "sass:map";

@each $font-name, $params in variables.$fonts {
  @each $k, $param in $params {
    @font-face {
      font-family: $font-name;
      src: url('#{map.get($param, file)}.woff2') format('woff2');
      font-weight: map.get($param, weight);
      font-style: map.get($param, style);
      font-display: swap;
    }
  }
}
