body, a, ul, i, li, button, input, select, textarea, p, strong, h1, h2, h3, h4, h5, h6, figure, img, blockquote, iframe {
  all: unset;
  box-sizing: border-box; // has to be set separately from *
}

* {
  box-sizing: border-box;
  -webkit-text-fill-color: currentColor !important; // fix ios 13
}


figure, p, h1, h2, h3, h4, h5, h6, li, blockquote, iframe {
  display: block;
}

a, button {
  cursor: pointer;
  color: inherit; // fix old chrome
}

img, svg {
  width: 100%;
  height: auto;
  display: block;
}

svg {
  height: 100%;

  * {
    transform-origin: center;
    transform-box: fill-box; // make elements relative to its position inside svg coordinates
  }
}

