@use '../utils/variables';

:root {
  --html-font-size: 16px;
  --body-background-color: white;
  --body-font-family: inherit;
  --body-font-size: 14px;
  --body-color: black;
  --body-font-weight: 400;
  --body-line-height: 1.4;
  @if variables.$use-columns {
    --columns-amount: 12;
  }
}
